body {
    background-color: antiquewhite
}

h1 {
    text-align: center;
}

li {
    list-style-type: none;
}

.todo-list  {
    margin:auto;
    margin-bottom: 20px;
    background-color:cornsilk;
    width: 80%;
    height: auto;
    max-width: 6000px;
    padding: 16px;
}

.todo-list li {
    background-color:bisque;
    width: 80%;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    line-height: 50px;
}


